.container {
    width        : 600px;
    height       : 240px;
    position     : relative;
    border       : 2px solid black;
    margin-bottom: 30px;
}

.dot {
    position: absolute;
    width   : 30px;
    height  : 30px;
}

.red {
    background-color: red;
}

.button {
    margin-right: 10px;
}