.input-container {
    margin-bottom: 10px;
}

.input {
    width: 300px;
}

.filter-body {
    display         : flex;
    width           : 800px;
    height          : 50px;
    background-color: #ccc;
    border-radius   : 5px;
}

.filter__item {
    display         : flex;
    width           : 100px;
    height          : 40px;
    background-color: #888;
    border-radius   : 5px;
    margin          : auto 0 auto 10px;
}

.text {
    color   : white;
    margin  : auto;
    padding : 5px;
    overflow: hidden;
}

.close {
    min-width       : 25px;
    height          : 30px;
    background-color: #333;
    border-radius   : 3px;
    margin          : auto 5px auto auto;
    color           : white;
    text-align      : center;
    line-height     : 2em;
    cursor          : pointer;
}